<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175600665778-h890sd26ijks1a2iprqink0v40je1vac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175600665778-h890sd26ijks1a2iprqink0v40je1vac</string>
	<key>API_KEY</key>
	<string>AIzaSyDoxLaefacXqUSgnRh7oItPs3MRRgXmShg</string>
	<key>GCM_SENDER_ID</key>
	<string>175600665778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SloWax.ForPigPyo</string>
	<key>PROJECT_ID</key>
	<string>forpigpyo</string>
	<key>STORAGE_BUCKET</key>
	<string>forpigpyo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175600665778:ios:76a953c42adcf4c84875ab</string>
</dict>
</plist>